:root {
    --primary-color: #D3EBFD;
    --overlay-color: #54B6FE;
    --text: #374F59;
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Philosopher", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.35rem;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.nav-buttons {
    display: flex;
}

.aboutme-button,
.myprojects-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #D3EBFD;
    color: #374F59;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.aboutme-button:hover,
.myprojects-button:hover {
    background-color: #54B6FE;
    color: white;
}

.aboutme-button,
.myprojects-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    /* Spazio tra i bottoni */
    background-color: #D3EBFD;
    /* Cambia colore se preferisci */
    color: #374F59;
    /* Cambia colore se preferisci */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.bigbox {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.foto {
    width: 15rem;
    height: 15rem;
    border-radius: 5%;
    float: left;
}

.unige {
    width: 6rem;
    height: 6rem;
    border-radius: 5%;
    float: left;
    margin-left: 1rem;
}

.liceti {
    width: 8rem;
    height: 6rem;
    border-radius: 5%;
    float: left;
    margin-left: 2rem;
}

.ey{
    width: 4rem;
    height: 4rem;
    border-radius: 5%;
    float: left;
    margin-left: 2rem;
}

.sigla{
    width: 8rem;
    height: 4rem;
    border-radius: 5%;
    float: left;
    margin-left: 2rem;

}

.infobox {
    width: 85rem;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
}

.studybox {
    width: 55rem;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
    text-align: center;
    font-size: 1rem;
}

.langbox {
    width: 25rem;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
    font-size: 1.15rem;
    text-align: center;
}

.jobbox {
    width: 85rem;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
    font-size: 1.15rem;
    text-align: center;
}

.info1,
.info2 {
    width: 25rem;
    margin-top: 0.5rem;
    float: left;
}

.info1 {
    margin-left: 2.5rem;
}

.info2 {
    margin-left: 8rem;
}

.study1 {
    width: 17rem;
    margin-left: 1rem;
    font-size: 1.15rem;
    float: left;
}

.lang1 {
    text-align: left;
    margin-top: 2rem;
    align-self: center;
}


.info-container,
.study-container,
.lang-container,
.job-container {
    display: flex;
    align-items: center;
}

.lang-container {
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.study-container {
    margin-top: 2rem;
}

.job-container {
    margin-top: 1rem;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.user,
.phone,
.email,
.luogo,
.patente,
.nascita,
.genere,
.auto {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.name {
    margin: 0;
}

.number:hover,
.mail:hover,
.linkedin:hover {
    text-decoration: underline;
}

.mail {
    float: left;
    margin-top: 0.25rem;
}

.phone,
.user,
.email {
    width: 2rem;
    height: 2rem;
    float: left;
    margin-right: 0.5rem;
}

/* Aggiungi questo stile al tuo foglio di stile CSS */

.download-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /* Regola il margine superiore a tuo piacimento */
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    /* Spazio tra i bottoni */
    background-color: #D3EBFD;
    /* Cambia colore se preferisci */
    color: #374F59;
    /* Cambia colore se preferisci */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #54B6FE;
    /* Cambia colore se preferisci */
    color: white;
    /* Cambia colore se preferisci */
}


footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--text);
    font-size: 1rem;
    margin-top: 5rem;
}