:root {
    --primary-color: #D3EBFD;
    --overlay-color: #54B6FE;
    --text: #374F59;
    --menu-speed: 0.75s;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../FONT/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f2;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.35rem;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.nav-buttons {
    display: flex;
}

.aboutme-button,
.myprojects-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #D3EBFD;
    color: #374F59;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.aboutme-button:hover,
.myprojects-button:hover {
    background-color: #54B6FE;
    color: white;
}

.bigbox {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.foto {
    width: 15rem;
    height: 15rem;
    border-radius: 5%;
    float: left;
}

.unige {
    width: 5.5rem;
    height: 5.5rem;
    float: left;
    margin: 0 0 0 2rem;
}

.liceti {
    width: 8rem;
    height: 6rem;
    border-radius: 5%;
    float: left;
    margin-left: 2rem;
}

.ey {
    width: 4rem;
    height: 4rem;
    border-radius: 5%;
    float: left;
    margin-left: 2rem;
}

.sigla {
    width: 8rem;
    height: 4rem;
    border-radius: 5%;
    float: left;
}

.infobox {
    width: 85rem;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
}

.studybox {
    width: 55rem;
    height: 18rem;
    border-radius: 1rem;
    margin: 3rem 0 0 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
    text-align: center;
    font-size: 1rem;
}

.langbox {
    width: 25rem;
    height: 18rem;
    border-radius: 1rem;
    margin: 3rem 4rem 0 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
    font-size: 1.15rem;
    text-align: center;
}

.jobbox {
    width: 85rem;
    height: 38rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
    font-size: 1.15rem;
    text-align: center;
    /* Aggiunta di questa riga */
}


.info1,
.info2 {
    width: 25rem;
    margin-top: 0.5rem;
    float: left;
}

.info1 {
    margin-left: 2.5rem;
}

.info2 {
    margin-left: 8rem;
}

.study1 {
    width: 17rem;
    margin-left: 1rem;
    font-size: 1.15rem;
    float: left;
}

.lang1 {
    text-align: left;
    margin-top: 2rem;
    align-self: center;
}

.job1,
.job2 {
    font-size: 1.15rem;
    float: left;
    width: 100%;
    text-align: left;
}

.job1 {
    margin-left: 5rem;
}

.job2 {
    margin-left: 3rem;
}

.info-container,
.study-container,
.lang-container,
.job-container1,
.job-container2 {
    display: flex;
    align-items: center;
}

.lang-container {
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.study-container {
    margin-top: 2rem;
}

.job-container1 {
    margin-top: 3rem;
}

.job-container2 {
    margin-top: 1rem;
}

.info-item,
.lang-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.user,
.phone,
.email,
.luogo,
.patente,
.nascita,
.genere,
.auto {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.name {
    margin: 0;
}

.number:hover,
.mail:hover,
.linkedin:hover {
    text-decoration: underline;
}

.mail {
    float: left;
    margin-top: 0.25rem;
}

.phone,
.user,
.email {
    width: 2rem;
    height: 2rem;
    float: left;
    margin-right: 0.5rem;
}

/* Aggiungi questo stile al tuo foglio di stile CSS */

.download-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /* Regola il margine superiore a tuo piacimento */
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    /* Spazio tra i bottoni */
    background-color: #D3EBFD;
    /* Cambia colore se preferisci */
    color: #374F59;
    /* Cambia colore se preferisci */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #54B6FE;
    /* Cambia colore se preferisci */
    color: white;
    /* Cambia colore se preferisci */
}


footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--text);
    font-size: 1rem;
    margin-top: 5rem;
}

.scroll-to-top {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    display: none;
    /* La freccia sarà nascosta di default */
    z-index: 999;
}

.scroll-to-top img {
    width: 50px;
    /* Personalizza le dimensioni dell'immagine */
    height: auto;
    cursor: pointer;
    /* Cambia il cursore al passaggio sopra l'immagine */
}

/* Stili per dispositivi con larghezza massima di 768px */
@media only screen and (max-width: 1105px) {

    body {
        width: 100%;
    }

    /*Nav responsive*/
    nav {
        width: 100%;
    }

    .nav-buttons {
        font-size: 0.5rem;
        text-align: center;
        font-size: 1rem;
        margin-right: 0;
    }

    .aboutme-button,
    .myprojects-button {
        border: 1px solid #374F59;
        padding: 8px 10px;
    }

    .title {
        font-size: 1.25rem;
    }

    .bigbox {
        width: 100%;
        margin: 0 auto;
    }

    .infobox,
    .studybox,
    .langbox,
    .jobbox {
        width: 18rem;
        font-size: 0.85rem;
        margin-left: 0;
    }

    .infobox {
        height: 50rem;
        margin: 3rem 0 0 20%
    }

    .studybox {
        height: 50rem;
        margin: 3rem 0 0 5%;
    }

    .langbox {
        height: 15rem;
        margin: 3rem 0 0 20%
    }

    .jobbox {
        height: 68rem;
        margin: 3rem 0 0 5%;
    }


    .info-container,
    .study-container,
    .lang-container,
    .job-container1,
    .job-container2 {
        display: block;
    }

    .lang-item {
        display: block;
    }

    .foto {
        margin-bottom: 2rem;
    }

    .unige {
        width: 5.5rem;
        height: 5.5rem;
        float: left;
        margin: 0 0 2rem 4.5rem;
    }

    .liceti {
        width: 8rem;
        height: 6rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .ey {
        width: 5rem;
        height: 5rem;
        margin-left: 5.5rem;
        margin-bottom: 1rem;
    }

    .sigla {
        width: 8rem;
        height: 4rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .info1,
    .info2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .study1,
    .job1,
    .job2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .lang1 {
        text-align: center;
        font-size: medium;
    }

    .download-buttons {
        margin-top: 4rem;
        flex-direction: column;
        align-items: center;
    }

    .download-button {
        display: block;
        margin-bottom: 2rem;
        /* Aggiungi margine tra i bottoni */
    }

    .engCV {
        margin-bottom: 0;
    }

    .scroll-to-top {
        bottom: 100px;
        right: 0.7rem;
    }
}



/* Stili per dispositivi con larghezza massima di 768px */
@media only screen and (max-width: 815px) {

    body {
        width: 100%;
    }

    /*Nav responsive*/
    nav {
        width: 100%;
    }

    .nav-buttons {
        font-size: 0.5rem;
        text-align: center;
        font-size: 1rem;
        margin-right: 0;
    }

    .aboutme-button,
    .myprojects-button {
        border: 1px solid #374F59;
        padding: 8px 10px;
    }

    .title {
        font-size: 1.25rem;
    }

    .bigbox {
        width: 100%;
        margin: 0 auto;
    }

    .infobox,
    .studybox,
    .langbox,
    .jobbox {
        width: 18rem;
        font-size: 0.85rem;
        margin-left: 0;
    }

    .infobox {
        height: 50rem;
        margin: 3rem 0 0 10%
    }

    .studybox {
        height: 50rem;
        margin: 3rem 0 0 5%;
    }

    .langbox {
        height: 15rem;
        margin: 3rem 0 0 10%;
    }

    .jobbox {
        height: 68rem;
        margin: 3rem 0 0 5%;
    }


    .info-container,
    .study-container,
    .lang-container,
    .job-container1,
    .job-container2 {
        display: block;
    }

    .lang-item {
        display: block;
    }

    .foto {
        margin-bottom: 2rem;
    }

    .unige {
        width: 5.5rem;
        height: 5.5rem;
        float: left;
        margin: 0 0 2rem 4.5rem;
    }

    .liceti {
        width: 8rem;
        height: 6rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .ey {
        width: 5rem;
        height: 5rem;
        margin-left: 5.5rem;
        margin-bottom: 1rem;
    }

    .sigla {
        width: 8rem;
        height: 4rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .info1,
    .info2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .study1,
    .job1,
    .job2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .lang1 {
        text-align: center;
        font-size: medium;
    }

    .download-buttons {
        margin-top: 4rem;
        flex-direction: column;
        align-items: center;
    }

    .download-button {
        display: block;
        margin-bottom: 2rem;
        /* Aggiungi margine tra i bottoni */
    }

    .engCV {
        margin-bottom: 0;
    }

    .scroll-to-top {
        bottom: 100px;
        right: 0.7rem;
    }
}

/* Stili per dispositivi con larghezza massima di 480px */
@media only screen and (max-width: 748px) {

    body {
        width: 100%;
    }

    /*Nav responsive*/
    nav {
        width: 100%;
    }

    .nav-buttons {
        font-size: 0.5rem;
        text-align: center;
        font-size: 1rem;
        margin-right: 0;
    }

    .aboutme-button,
    .myprojects-button {
        border: 1px solid #374F59;
        padding: 8px 10px;
    }

    .title {
        font-size: 1.25rem;
    }

    .bigbox {
        width: 77vw;
        margin: 0 auto;
    }

    .infobox,
    .studybox,
    .langbox,
    .jobbox {
        width: 18rem;
        font-size: 0.85rem;
        margin: 3rem;
    }

    .infobox {
        height: 45rem;
    }

    .studybox {
        height: 50rem;
    }

    .langbox {
        height: 15rem;
    }

    .jobbox {
        height: 68rem;
    }


    .info-container,
    .study-container,
    .lang-container,
    .job-container1,
    .job-container2 {
        display: block;
    }

    .lang-item {
        display: block;
    }

    .foto {
        margin-bottom: 2rem;
    }

    .liceti {
        width: 8rem;
        height: 6rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .ey {
        width: 5rem;
        height: 5rem;
        margin-left: 5.5rem;
        margin-bottom: 1rem;
    }

    .sigla {
        width: 8rem;
        height: 4rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .info1,
    .info2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .study1,
    .job1,
    .job2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .lang1 {
        text-align: center;
        font-size: medium;
    }

    .download-buttons {
        margin-top: 4rem;
        flex-direction: column;
        align-items: center;
    }

    .download-button {
        display: block;
        margin-bottom: 2rem;
        /* Aggiungi margine tra i bottoni */
    }

    .engCV {
        margin-bottom: 0;
    }

    .scroll-to-top {
        bottom: 100px;
        display: block;
    }
}


/* Stili per dispositivi con larghezza massima di 480px */
@media only screen and (max-width: 747px) {

    body {
        width: 100%;
    }

    /*Nav responsive*/
    nav {
        width: 100%;
    }

    .nav-buttons {
        font-size: 0.5rem;
        text-align: center;
        font-size: 1rem;
        margin-right: 0;
    }

    .aboutme-button,
    .myprojects-button {
        border: 1px solid #374F59;
        padding: 8px 10px;
    }

    .title {
        font-size: 1.25rem;
    }

    .bigbox {
        width: 35vw;
        margin: 0 auto;
    }

    .infobox,
    .studybox,
    .langbox,
    .jobbox {
        width: 18rem;
        font-size: 0.85rem;
        margin-left: 0;
    }

    .infobox {
        height: 45rem;
    }

    .studybox {
        height: 50rem;
    }

    .langbox {
        height: 15rem;
    }

    .jobbox {
        height: 68rem;
    }


    .info-container,
    .study-container,
    .lang-container,
    .job-container1,
    .job-container2 {
        display: block;
    }

    .lang-item {
        display: block;
    }

    .foto {
        margin-bottom: 2rem;
    }

    .liceti {
        width: 8rem;
        height: 6rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .ey {
        width: 5rem;
        height: 5rem;
        margin-left: 5.5rem;
        margin-bottom: 1rem;
    }

    .sigla {
        width: 8rem;
        height: 4rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .info1,
    .info2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .study1,
    .job1,
    .job2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .lang1 {
        text-align: center;
        font-size: medium;
    }

    .download-buttons {
        flex-direction: column;
        align-items: center;
    }

    .download-button {
        display: block;
        margin-bottom: 2rem;
        /* Aggiungi margine tra i bottoni */
    }

    .engCV {
        margin-bottom: 0;
    }

    .scroll-to-top {
        bottom: 100px;
        display: block;
    }
}

/* Stili per dispositivi con larghezza massima di 480px */
@media only screen and (max-width: 500px) {

    body {
        display: flex;
        justify-content: center;
        /* Centratura orizzontale */
        align-items: center;
        /* Centratura verticale */
        width: 100%;
        /* Imposta l'altezza del body al 100% dell'altezza del viewport */
        margin: 0;
    }

    /*Nav responsive*/
    nav {
        width: 100%;
    }

    .nav-buttons {
        font-size: 0.5rem;
        text-align: center;
        font-size: 1rem;
        margin-right: 0;
    }

    .aboutme-button,
    .myprojects-button {
        border: 1px solid #374F59;
        padding: 8px 10px;
    }

    .title {
        font-size: 1.25rem;
    }

    .bigbox {
        width: 100%;
    }

    .infobox,
    .studybox,
    .langbox,
    .jobbox {
        width: 18rem;
        font-size: 0.85rem;
        margin: 2rem 10vw 0 10vw;
    }

    .infobox {
        height: 45rem;
    }

    .studybox {
        height: 50rem;
    }

    .langbox {
        height: 15rem;
    }

    .jobbox {
        height: 68rem;
    }


    .info-container,
    .study-container,
    .lang-container,
    .job-container1,
    .job-container2 {
        display: block;
    }

    .lang-item {
        display: block;
    }

    .foto {
        margin-bottom: 2rem;
    }

    .liceti {
        width: 8rem;
        height: 6rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .ey {
        width: 5rem;
        height: 5rem;
        margin-left: 5.5rem;
        margin-bottom: 1rem;
    }

    .sigla {
        width: 8rem;
        height: 4rem;
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .info1,
    .info2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .study1,
    .job1,
    .job2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .lang1 {
        text-align: center;
        font-size: medium;
    }

    .download-buttons {
        display: flex;
        justify-content: center;
        /* Centratura orizzontale */
        align-items: center;
        /* Centratura verticale */
        flex-direction: column;
        align-items: center;
    }

    .download-button {
        display: block;
        margin-bottom: 2rem;
        /* Aggiungi margine tra i bottoni */
    }

    .engCV {
        margin-bottom: 0;
    }

    .scroll-to-top {
        bottom: 100px;
        display: block;
    }
}