:root {
    --primary-color: #D3EBFD;
    --overlay-color: #54B6FE;
    --text: #374F59;
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Philosopher", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.35rem;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    padding: 1rem 1rem;
    height: 6rem;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text);
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.bigbox {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.foto {
    width: 15rem;
    height: 15rem;
    border-radius: 5%;
    float: left;
}

.unige {
    width: 6rem;
    height: 6rem;
    border-radius: 5%;
    float: left;
    margin-left: 1rem;
}

.liceti {
    width: 8rem;
    height: 6rem;
    border-radius: 5%;
    float: left;
    margin-left: 2rem;
}

.infobox {
    width: 85rem;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
}

.studybox {
    width: 55rem;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
    text-align: center;
    font-size: 1rem;
}

.langbox {
    width: 25rem;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
    font-size: 1.15rem;
    text-align: center;
}

.jobbox{
    width: 85rem;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 5rem;
    float: left;
    background-color: var(--primary-color);
    color: var(--text);
    padding: 1.5rem;
    font-size: 1.15rem;
    text-align: center;
}

.info1,
.info2 {
    width: 25rem;
    margin-top: 0.5rem;
    float: left;
}

.info1 {
    margin-left: 2.5rem;
}

.info2 {
    margin-left: 8rem;
}

.study1 {
    width: 17rem;
    margin-left: 1rem;
    font-size: 1.15rem;
    float: left;
}

.lang1 {
    text-align: left;
    margin-top: 2rem;
    align-self: center;
}


.info-container,
.study-container,
.lang-container {
    display: flex;
    align-items: center;
}

.lang-container {
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.study-container {
    margin-top: 2rem;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.user,
.phone,
.email,
.luogo,
.patente,
.nascita,
.genere,
.auto {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.name {
    margin: 0;
}

.number:hover,
.mail:hover,
.linkedin:hover {
    text-decoration: underline;
}

.mail {
    float: left;
    margin-top: 0.25rem;
}

.phone,
.user,
.email {
    width: 2rem;
    height: 2rem;
    float: left;
    margin-right: 0.5rem;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--text);
    font-size: 1rem;
    margin-top: 5rem;
}